<!DOCTYPE html>
<html>
<head>
	<title>Welcome Page</title>
</head>
<body>
	<h4>Redirecting to <a href="https://www.nielvid.com">Nielvid</a> </h4>
	<a href="/logout"><button >Logout Instead</button></a> 
</body>
</html>